<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Car Rental</title>
        
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
		
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body id="page-top">
    	<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/">CAR RENTAL</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/api/cars/getall}">Cars</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#about">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/api/auth/login}">Login</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/api/auth/signUp}">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>  		
  		
       
        <section class="masthead page-section portfolio" id="portfolio">
            <div class="container">
          
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"  th:text="${car.carName}"> </h2>
         
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-circle"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
      			
				<div class = "row justify-content-center text-dark" >
					
					<div class = "col-sm-12 col-lg-6">
						<img class="img w-100" th:src="${car.imageUrl}" />
						<p class="h6 text-dark p-2">Information:</p>
						<p class="small ps-2" th:text="'Daily rental prices for this car are valid between ' +
						 ${#dates.format(car.priceStartDay, 'dd-MMM-yyyy')} + ' and ' + ${#dates.format(car.priceExpirationDay, 'dd-MMM-yyyy')} + '.'"></p>
						
					</div>
				           			
					<div class = "col-sm-12 col-lg-6">
						<table class="table">
						  <thead>
						    <tr>
						      <th scope="col" colspan="3" class="h4 text-center">Features</th>
						      
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">1</th>
						      <td>Brand </td>
						      <td th:text="${car.carName}"></td>
						      
						    </tr>
						    <tr>
						      <th scope="row">2</th>
						      <td class="text-dark" >Car Type</td>
						      <td th:text="${car.carType.typeName}"></td>
						      
						    </tr>
						    <tr>
						      <th scope="row">3</th>
						      <td>Company</td>
						      <td th:text="${car.company.companyName}"></td>
						    </tr>
						    
						    <tr>
						      <th scope="row">4</th>
						      <td>Model Year</td>
						      <td th:text="${car.modelYear}"></td>
						    </tr>
						    
						    <tr>
						      <th scope="row">5</th>
						      <td>Fuel</td>
						      <td th:text="${car.fuel}"></td>
						    </tr>
						    
						    <tr>
						      <th scope="row">6</th>
						      <td>Gear</td>
						      <td th:text="${car.gear}"></td>
						    </tr>
						    
						    <tr>
						      <th scope="row">7</th>
						      <td>Motor Power</td>
						      <td th:text="${car.motorPower} + ' hp'"></td>
						    </tr>
						    
						    <tr>
						      <th scope="row">8</th>
						      <td>Color</td>
						      <td th:text="${car.color}"></td>
						    </tr>
						    
						     <tr>
						      <th scope="row">9</th>
						      <td>Daily Price</td>
						      <td th:text="${car.dailyPrice + ' ₺'}"></td>
						    </tr>
						  </tbody>
						</table>
	                   
	                  	<div class="divider-custom">
                		    <div class="divider-custom-line"></div>
                 		</div>
      					
						<div class = "row" >
							<p class="h5 text-center mb-3"> Rent This Car</p>
							<div class="col" >
								<p class="small"> Rent Day: 
									<input type='date' class="form-control" />
								</p>
													
							</div>
							
							<div class="col" >
								<p class="small"> Return Day:
									<input type='date' class="form-control" />
								</p>
								
							</div>
							<p class="btn btn-primary btn-sm float-right">Rent</p>
						</div>
						
					</div>
				
				</div>
            </div>
        </section>
        
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            No:22 Atatürk Street
                            <br />
                            Çanakkale, Turkey
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Car Rental 2022</small></div>
        </div>
       
       
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
        <script th:src="@{/js/scripts.js}"></script>
<!--         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--         * *                               SB Forms JS                               * * -->
<!--         * * Activate your form at https://startbootstrap.com/solution/contact-forms * * -->
<!--         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        
    </body>
</html>
